.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    padding: 20px;
  
    &__title {
      font-size: 2.5rem;
      color: #333;
      margin-bottom: 2rem;
      font-family: "Bebas Neue", serif;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
  
    &__form {
      background: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  
    &__group {
      display: flex;
      flex-direction: column;
      
  
      label {
        font-size: 1rem;
        margin-bottom: 5px;
        font-weight: bold;
        color: #333;
      }
  
      input, select {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
      }
      select {
        cursor: pointer;
      }
  
      input:focus, select:focus {
        border-color: #000;
        outline: none;
      }
    }
  
    &__button {
      background-color: #000;
      color: white;
      padding: 12px;
      font-size: 1.1rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
      text-transform: uppercase;
  
      &:hover {
        background-color: #333;
      }
    }
  
    &__back {
      margin-top: 15px;
      background-color: white;
      color: #000;
      border: 2px solid #000;
      padding: 10px;
      font-size: 1rem;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
      text-transform: uppercase;
  
      &:hover {
        background-color: #000;
        color: white;
      }
    }
  }
  